/* style.css */

@import url(font.css);

/* [ VARIABLE ] */

:root {
    --clock-font: "jf";
    --clock-color: #fff;
    --clock-size: 15dvw;
    --clock-border-color: #000;
    --clock-border: 0.5dvw;
    --clock-opacity: 0.9;

    --btn: 1;
}

/* [ ANIMATION ] */

@keyframes float1 {
    0%   { transform: translate(-50%, -50%); }
    50%  { transform: translate(-50%, -47%); }
    100% { transform: translate(-50%, -50%); }
}

@keyframes float2 {
    0%   { transform: translate(-50%, -50%); }
    25%  { transform: translate(-50%, -45%); }
    50%  { transform: translate(-50%, -50%); }
    75%  { transform: translate(-50%, -55%); }
    100% { transform: translate(-50%, -50%); }
}

/* [ BODY ] */

/* body::-webkit-scrollbar { display: none; } */
body {
    margin: 0;
    background: #000;

    overflow: hidden;
}

body > * { user-select: none; }

/* [ BACKGROUND ] */

#bgDiv {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    position: relative;
}

#bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;

    z-index: -1;

    /* filter: brightness(50%); */
}

/* [ DIV ] */

div:not(#bgDiv) {
    position: absolute;
    z-index: 1;
}

/* [ BUTTONS ] */

#btns {
    display: flex;

    left: 1rem;
    bottom: 1rem;
}

#btns > * { margin: 0 0.5dvw; }

#btns > input { width: 8rem; }
#btns > button {
    height: 3rem;
    width:  3rem;

    font-size: 2rem;
    line-height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* [ LINKS ] */

#links {
    display: flex;

    right:  0.5dvw;
    bottom: 0.5dvh;
}

#links > * { margin: 0 0.5dvw; }

#links > a > img {
    height: 1.5rem;
    width:  1.5rem;
}

/* [ CLOCK ] */

#clock {
    display: flex;
    gap: 1dvw;

    opacity: var(--clock-opacity);

    top: 50%;
    left: 50%;
    transform: translateX(-50%);

    animation: float1 10s ease-in-out infinite;
}

#clock > p {
    color: var(--clock-color);
    font-family: var(--clock-font);

    font-size: var(--clock-size);
    -webkit-text-stroke: var(--clock-border) var(--clock-border-color);
}
